.heading
{
    font-size: 30px;
    width: 100%;
    margin-top: 0%;
}
body
{
    text-align: center;
    background-image: url("object detection.jpg");
}
#note
{
    font-size: 15px;
}
#object_name
{
    width:500px;
    margin: 20px;
}
canvas
{
    border: 5px solid rgb(1, 1, 2);
    margin-top: 170px;
    margin-bottom: 20px;
    box-shadow: 20px 5px 25px whitesmoke;
}